.espacamento-botoes{
    margin: 0 10px;
}
.card-estilo{
    width: 18rem;
}
.card-posicao{
    object-fit: cover;
    height: 200px;
}
.borda-card{
    border-color: black;
}
.fundo-nav{
    
    background-color: black;
    color: white;
}
.nav-bar{
    padding: 0;
}
.fundo-site{
    background-color: lightgrey;
}
.texto-nav{
    background-color: white;
    /* Parte branco do hamburguer quando se tem um celular para abrir mais opçoes */
}
.habilidades{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: justify;
    
}
.lista-li-habilidades{
    margin-left: 80px;
}
.container-habilidades{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.quebra-linha{
        white-space: nowrap;
}
.copyright{
    text-align: center;
    font-size: 10px;
}
.conhecimento-img{
    object-fit: cover;
    height: 400px;
}
.carrossel-img{
  object-fit: cover;
  max-height: 500px;
  max-width: 600px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.border-nav{
    border-color: rgba(255,255,255, 0.7) ;
}